* {
    box-sizing: border-box;
    margin: 0;
}

h1 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;

}
h2{
    padding: 10px;
    font-size: 1rem;
    font-weight: normal;
}
p {
    padding: 10px;
    transition: all 0.1s ease-in-out;
}

p:nth-of-type(odd) {
    background-color: rgb(217, 217, 217);
}

p:hover {
    background-color: rgb(238, 238, 238);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 111;
}

body:has(p:hover) p:not(:hover) {
    z-index: 0;
    opacity: .4;
}

h1 {
    background: linear-gradient(90deg, rgb(47, 128, 128), rgb(3, 179, 26), rgb(255, 165, 0), rgb(255, 99, 71),rgb(255, 99, 71),rgb(255, 165, 0), rgb(3, 179, 26), rgb(47, 128, 128));

    background-clip: text;
    color: transparent;
    background-size: 200%;
    animation: streamer 8s linear infinite;
    /* text-shadow: 0px 0px 10px #000; */
}


@keyframes streamer {
    0% {
        background-position: 0%
    }

    100% {
        background-position: 200%
    }
}